<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Who are you?</title>
</head>
<body>
    <form method="post" action="/">
        <input type="text" name="name" placeholder="Pls enter yor naem..." />
        <input type="submit" value="TAKE MY NAME!!!" />
    </form>
</body>
</html>