@model GreetSomeOne.Models.IGreetable
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Well, hello!</title>
    <style>
        h1 {
            font-family: 'Yu Gothic';
            font-size: 36px;
            color: limegreen;
        }
    </style>
</head>
<body>
    <h1>@Model.Greet()</h1>
</body>
</html>