@model  int
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WORK PLS :((</title>
</head>
<body>
    <h1>@Model</h1>
    <form action="/Count" method="post">
        <input type="submit" value="Count" />
    </form>
</body>
</html>