@model SoManyGreetings.Models.Greeting
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    @foreach (var greeting in Model.Greetings)
    {
        <h1 style="font-size: @(new Random().Next(24, 73))px">@greeting</h1>
    }
</body>
</html>