<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Anagram Analyzer</title>
</head>
<body>
    <h1>Welcome to Anagram Analyzer!</h1>
    <h2>What are anagrams?</h2>
    <p>
        An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once. For example, the word anagram can be rearranged into "naga ram". The original word or phrase is known as the subject of the anagram. Any word or phrase that exactly reproduces the letters in another order is an anagram.
    </p>
    <h2>Anagram Analyzer</h2>
    <p>Here, you can enter two words to check whether they're anagrams or not...</p>
    <form method="post" action="/result">
        <input type="text" name="firstWord" placeholder="First phrase"/>
        <input type="text" name="secondWord" placeholder="Second phrase"/>
        <input type="submit" value="Analyze"/>
    </form>
</body>
</html>