

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <table style="width: 100%">
        <tr>
            <th>#</th>
            <th>todo</th>
            <th>urgent</th>
            <th>done</th>
            <th>modify</th>
        </tr>
        @foreach (var todo in Model)
        {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Title</td>
            <td>@todo.IsUrgent</td>
            <td>@todo.IsDone</td>
            <td>
                <form method="post" action="">
                    <input type="text" name="title" placeholder="Change task..." />
                    <input type="submit" value="Update" />
                </form>
            </td>
        </tr>
        }
    </table>
    <form method="post" action="">
        <input type="text" name="title" placeholder="New todo..." />
        <label>Priority: </label><input type="checkbox" name="isUrgent" value="true" />
        <label>Done: </label><input type="checkbox" name="isDone" value="true" />
        <input type="submit" value="Add" />
    </form>
</body>
</html>