

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <table style="width: 100%">
        <tr>
            <th>#</th>
            <th>TODO</th>
            <th>PRIORITY</th>
            <th>DONE</th>
            <th>MODIFY</th>
            <th>REMOVE</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
            <td>@(i + 1)</td>
            <td>@Model[i].Title</td>
            <td>@Model[i].IsUrgent</td>
            <td>@Model[i].IsDone</td>
            <td>
                <form method="post" action="/update/@Model[i].Id">
                    <input type="text" name="newTitle" placeholder="Rename task..." />
                    <label>Urgent? </label><input type="checkbox" name="isUrgent" value="true" />
                    <label>Done yet? </label><input type="checkbox" name="isDone" value="true" />
                    <input type="submit" value="Update" />
                </form>
            </td>
            <td>
                <form method="post" action="/remove/@Model[i].Id">
                    <input type="submit" value="Remove" />
                </form>
            </td>
        </tr>
        }
    </table>
    <form method="post" action="/add">
        <input type="text" name="title" placeholder="New todo..." />
        <label>Priority: </label><input type="checkbox" name="isUrgent" value="true" />
        <label>Done: </label><input type="checkbox" name="isDone" value="true" />
        <input type="submit" value="Add" />
    </form>
</body>
</html>